@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    /* Primary */
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    /* Neutral */
    --very-dark-blue-main: hsl(217, 54%, 11%);
    --very-dark-blue-card: hsl(216, 50%, 16%);
    --very-dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

body {
    background-color: var(--very-dark-blue-main);
    font-family: 'Outfit', sans-serif;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.text-container h1 {
    color: var(--white);
}

.text-container p {
    color: var(--soft-blue);
    font-size: 18px;
}





.price-container h2, 
.price-container p,
.creator-container img,
.creator-container p {
    display: inline;
    /* possibly use flex? */
}

