@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    /* Primary */
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    /* Neutral */
    --very-dark-blue-main: hsl(217, 54%, 11%);
    --very-dark-blue-card: hsl(216, 50%, 16%);
    --very-dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--very-dark-blue-main);
    font-family: 'Outfit', sans-serif;
}

/* Multiple elements */
.price-container h2, 
.price-container p,
.creator-container img,
.creator-container p {
    display: inline;
}

/* Multiple classes */
.text-container,
.price-container,
.line-container,
.creator-container {
    width: 302px;
    margin: auto;
}


/* Card container position */
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* Card */
.card {
    width: 350px;
    height: 596px;
    border-radius: 10px;
    background-color: var(--very-dark-blue-card);
}


/* Image container */
.image-container {
    text-align: center;
    position: relative;
}

.image-container img {
    width: 302px;
    height: 302px;
    border-radius: 8px;
    margin-top: 25px;
}


/* Image container overlay */
.overlay {
    /* display: block; */
    position: absolute;
    bottom: 4px;
    left: 25px;
    width: 302px;
    height: 302px;
    border-radius: 8px;
    background-color: rgba(0, 255, 255, 0.7);
    opacity: 0;
    transition: opacity 500ms;
}


/* Image container eye */
.eye {
    /* display: none; */
    position: absolute;
    top: 130px;
    right: 130px;
    font-size: 40px;
    color: var(--white);
    opacity: 1;
}


/* Text container */
.text-container h1 {
    color: var(--white);
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    transition: color 500ms;
}

.text-container p {
    color: var(--soft-blue);
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
}


/* Price container */
.price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 20px; <---TESTING Removal of height*/
    margin-bottom: 25px;
}

.price-container h2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: var(--cyan);
}

.price-container p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--soft-blue);
}


/* Creator container */
.creator-container {
    display: flex;
    justify-content: left;
    align-items: center;
    border-top: 1px solid var(--very-dark-blue-line);
    padding-top: 10px;
}

.creator-container img {
    border: 1px solid var(--white);
    border-radius: 50%;
    width: 33px;
    /* height: 33px; <---TESTING Removal of height*/
}

.creator-container p {
    margin-left: 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--soft-blue);
}

.creator-container p span {
    color: var(--white);
    transition: color 250ms;
}


/* Active states */
.overlay:hover {
    opacity: 1;
}

.text-container h1:hover {
    color: var(--cyan);
    cursor: pointer;
    opacity: 1;
}

.creator-container p span:hover {
    color: var(--cyan);
    cursor: pointer;
}



/* FEEDBACK */

/* @denielden */
/* try to add a little transition on the element with hover effect
instead of using px try to use relative units of measurement -> read here */


/* @PhoenixDev22 */
/* Anything with a hover style in design means it's interactive. you need to add an interactive element<a> around the image Equilibrium #3429 and Jules Wyvern .

The avatar 's alt shouldn't be Image of creator , it's meaningless , you can set Jules Wyvern to it.

Read more how to write an alt text

the link should be wrapping the main image and either have Sr-only text, an aria-label or alt text that says where that link takes you.

You can use an unordered list<ul> to wrap `class="price-container" <li>, there would be <img > and<p> .

It's good practice to use a css reset at the start of css every time. That would do things like change images to display block instead of inline block.

width: 350px; an explicit width is not a good way . Remove the width from the main component and change it to max width instead. That will let it shrink a little when it needs to.

height: 596px;Also you would never want to set the height of the element. Let the content inside the card element dictate the height of it.

You should use em and rem units .Both em and rem are flexible, Using px won't allow the user to control the font size based on their needs.

Never use px for font size.

General point , try to put classes directly on anything you want to style. */